In [2]:
import numpy as np
import pandas as pd

In [2]:
d1 = pd.read_csv('../Figures and tables/Tables/39traitsord.csv')
d2 = pd.read_csv('../Figures and tables/Tables/PredSNPeffects raw.csv')
d3 = pd.read_csv('../Figures and tables/Tables/39transbyWF2ord.csv')
d4 = pd.read_csv('../Figures and tables/Tables/PredSNPeffects trans.csv')
d3 = d3[d1.columns]
d4 = d4[d1.columns]

In [30]:
td = pd.concat([d1.iloc[:,1], d2.iloc[:,1]], axis = 1)

In [49]:
for i in range(1,39):
    td = pd.concat([d1.iloc[:,i], d2.iloc[:,i]], axis = 1)
    td['y - ybar'] = td.iloc[:,1] - td.iloc[:,1].mean()
    td['y - yhat'] = td.iloc[:,1] - td.iloc[:,2]
    td['yhat - ybar'] = td.iloc[:,2] - td.iloc[:,1].mean()
    td['y - ybar sq'] = td['y - ybar'] ** 2
    td['y - yhat sq'] = td['y - yhat'] ** 2
    td['yhat - ybar sq'] = td['yhat - ybar'] ** 2
    print(td.columns[1])
    print(1 - (td.sum()['y - yhat sq']) / (td.sum()['yhat - ybar sq']))

Root_weight
0.017961476862390136
Shoot_weight
0.02058187648918086
Root_length
0.008000661446454393
Shoot_length
0.005973047229315909
Root_Na+
0.0007261762475828659
Root_K+
0.13507507536060925
Shoot_Na+
1.44240371053872e-05
Shoot_K+
1.918198827832729e-05
Chlorophyll_A
0.0006918957140160664
Chlorophyll_B
0.0017885910879783529
Stress_Root_weight
0.012235661099678219
Stress_Shoot_weight
0.03365935129255948
Stress_Root_length
0.0031587792513386725
Stress_Shoot_length
0.008103813143533256
Stress_Root_Na+
0.0033385694490761786
Stress_Root_K+
0.07693538789045207
Stress_Shoot_Na+
0.00432955041251859
Stress_Shoot_K+
0.0010017110481052027
SES
0.005029046671541804
Stress_Chlorophyll_A
0.022077925124538544
Stress_Chlorophyll_B
0.02667382322150802
Width_WO_husk
0.008133341350897494
Length_WO_husk
0.009926898871194467
Height_WO_husk
0.0027747827442975437
Seed_Weight
0.02383276233264453
Root_thickness
0.012959447654021683
Shoot_thickness
0.006088852054184746
Stress_Root_thickness
0.007279977862685971
Stress_Shoot_thickness
0.014599654302464793
Lost_Root_weight
0.0001245503252845781
Lost_Shoot_weight
0.009113527879543781
Lost_Root_length
0.07735687996245089
Lost_Shoot_length
0.0004051187373087517
Lost_Root_thickness
0.044000780892048064
Lost_Shoot_thickness
0.001956345603916665
Lost_Chlorophyll_A
0.14416478561859436
Lost_Chlorophyll_B
0.17750708161782447
Seed_volume
0.017197488448208342

In [52]:
d5 = pd.read_csv('../Figures and tables/Tables/Final_BD_screening_v2.csv')

In [67]:
d6 = pd.read_csv('../Figures and tables/Tables/Bd 176 rice SEED(1).csv')

In [72]:
sa = d6.drop_duplicates(['Serial no.', 'Accession No.'])[['Serial no.', 'Accession No.']]

In [79]:
sa = sa.rename(columns = {'Accession No.' : 'accession_name'})

In [83]:
d7 = pd.merge(d5,sa, how = 'left')

In [86]:
d7 = d7[d7['Treatment'] == 'Control']

In [90]:
d7 = d7.sort_values('Serial no.').reset_index(drop = True)

In [93]:
d7

,accession_name,Treatment,Root weight,Shoot weight,Root length,Shoot length,Root Na+,Root K+,Shoot Na+,Shoot K+,SES,Chlorophyll A,Chlorophyll B,Serial no.
0,IRGC 5809,Control,90.0,1101.0,7.50,57.0,0.023762,0.127090,0.004515,0.009606,NaN,0.017036,0.016235,1.0
1,IRGC 5809,Control,118.0,2063.0,8.25,68.0,0.015773,0.247863,0.005012,0.009374,NaN,0.020181,0.019515,1.0
2,IRGC 5809,Control,79.0,741.0,7.00,54.0,0.066006,0.062059,0.008675,0.005890,NaN,0.012232,0.011748,1.0
3,IRGC 6046,Control,80.0,570.0,6.50,55.0,0.093760,1.410256,0.004137,0.007748,NaN,0.019157,0.019503,2.0
4,IRGC 6046,Control,98.0,797.0,9.50,59.5,NaN,NaN,NaN,NaN,NaN,0.020225,0.019921,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,IRGC 28609,Control,71.0,927.0,7.50,69.0,NaN,NaN,NaN,NaN,NaN,0.018029,0.017227,NaN
535,IRGC 28609,Control,183.0,1730.0,7.00,63.5,NaN,NaN,NaN,NaN,NaN,0.023775,0.025347,NaN
536,IRGC 28609,Control,115.0,1362.0,7.00,63.5,NaN,NaN,NaN,NaN,NaN,0.020921,0.020404,NaN
537,IRGC 28609,Control,119.0,1087.0,6.50,61.5,NaN,NaN,NaN,NaN,NaN,0.016804,0.016053,NaN
538,IRGC 28609,Control,273.0,1716.0,8.00,65.5,NaN,NaN,NaN,NaN,NaN,0.014396,0.013546,NaN

In [97]:
d6 = d6.rename(columns = {'Accession No.' : 'accession_name'})

In [107]:
d6['Iserial'] = d6.groupby(['Serial no.']).cumcount()+1

In [121]:
d6['uid'] = d6['Serial no.'].fillna(0).astype(int).astype(str) + '_' + d6['Iserial'].astype(str)

In [124]:
d6

,Serial no.,accession_name,Width_WO_husk,Length_WO_husk,Height_WO_husk,Seed Weight,Iserial,uid
0,1,IRGC 5809,288,597,183,895,1,1_1
1,1,IRGC 5809,280,609,214,898,2,1_2
2,1,IRGC 5809,283,600,218,903,3,1_3
3,1,IRGC 5809,275,587,195,900,4,1_4
4,1,IRGC 5809,288,616,219,905,5,1_5
...,...,...,...,...,...,...,...,...
875,176,IRGC 117318,278,560,197,850,1,176_1
876,176,IRGC 117318,266,616,205,849,2,176_2
877,176,IRGC 117318,268,594,196,846,3,176_3
878,176,IRGC 117318,262,561,175,853,4,176_4
879,176,IRGC 117318,274,600,176,853,5,176_5

In [122]:
d7['Iserial'] = d7.groupby(['Serial no.']).cumcount()+1
d7['uid'] = d7['Serial no.'].fillna(0).astype(int).astype(str) + '_' + d7['Iserial'].astype(str)

In [127]:
d8 = pd.merge(d6[['uid', 'Width_WO_husk', 'Length_WO_husk', 'Height_WO_husk', 'Seed Weight']],d7, on = 'uid', how = 'left')

In [134]:
d8['Serial no.'] = d8['uid'].apply(lambda x: x.split('_')[0])

In [141]:
d8 = pd.merge(d8.drop(columns = 'accession_name') ,sa.astype(str), on = 'Serial no.', how = 'left')
d8['Treatment'] = 'Control'

In [142]:
d9 = d5[d5['Treatment'] == 'Stress']

In [143]:
pd.concat([d8,d9], axis = 0).to_csv('Basic traits.csv', index = False)

In [145]:
d5['Root thickness'] = d5['Root weight'] / d5['Root length']
d5['Shoot thickness'] = d5['Shoot weight'] / d5['Shoot length']

In [147]:
d5.to_csv('13traits for rem.csv', index = False)

In [149]:
d8

,uid,Width_WO_husk,Length_WO_husk,Height_WO_husk,Seed Weight,Treatment,Root weight,Shoot weight,Root length,Shoot length,Root Na+,Root K+,Shoot Na+,Shoot K+,SES,Chlorophyll A,Chlorophyll B,Serial no.,Iserial,accession_name
0,1_1,288,597,183,895,Control,90.0,1101.0,7.50,57.0,0.023762,0.127090,0.004515,0.009606,NaN,0.017036,0.016235,1,1.0,IRGC 5809
1,1_2,280,609,214,898,Control,118.0,2063.0,8.25,68.0,0.015773,0.247863,0.005012,0.009374,NaN,0.020181,0.019515,1,2.0,IRGC 5809
2,1_3,283,600,218,903,Control,79.0,741.0,7.00,54.0,0.066006,0.062059,0.008675,0.005890,NaN,0.012232,0.011748,1,3.0,IRGC 5809
3,1_4,275,587,195,900,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,IRGC 5809
4,1_5,288,616,219,905,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,IRGC 5809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,176_1,278,560,197,850,Control,132.0,1188.0,5.00,48.0,0.021121,0.002954,0.006395,0.009142,NaN,0.025644,0.038433,176,1.0,IRGC 117318
876,176_2,266,616,205,849,Control,85.0,1131.0,5.50,47.5,0.030299,0.136381,0.004732,0.002364,NaN,0.018242,0.027854,176,2.0,IRGC 117318
877,176_3,268,594,196,846,Control,169.0,1720.0,6.00,53.0,0.024743,0.094575,0.006368,0.004961,NaN,0.017685,0.016788,176,3.0,IRGC 117318
878,176_4,262,561,175,853,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,NaN,IRGC 117318
879,176_5,274,600,176,853,Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,NaN,IRGC 117318

In [154]:
d10 = d9.rename(columns = {'Root weight' : 'Stress Root weight', 'Shoot weight' : 'Stress Shoot weight', 
                    'Root length' : 'Stress Root length', 'Shoot length' : 'Stress Shoot length',
                     'Root Na+' : 'Stress Root Na+', 'Root K+' : 'Stress Root K+', 
                     'Shoot Na+' : 'Stress Shoot Na+', 'Shoot K+' : 'Stress Shoot K+',
                    'Chlorophyll A' : 'Stress Chlorophyll A', 'Chlorophyll B' : 'Stress Chlorophyll B'})

In [157]:
#d10 = pd.merge(d10, sa).sort_values('Serial no.')

,accession_name,Treatment,Stress Root weight,Stress Shoot weight,Stress Root length,Stress Shoot length,Stress Root Na+,Stress Root K+,Stress Shoot Na+,Stress Shoot K+,SES,Stress Chlorophyll A,Stress Chlorophyll B,Serial no.
447,IRGC 5809,Stress,118.0,745.0,9.00,52.75,0.035171,0.011241,0.112341,0.035436,5.0,0.018235,0.017206,1
446,IRGC 5809,Stress,103.0,761.0,11.00,56.50,0.048654,0.011822,0.075954,0.037075,6.0,0.015713,0.014794,1
445,IRGC 5809,Stress,57.0,397.0,10.50,49.50,0.057932,0.014270,0.082697,0.038468,9.0,0.012944,0.012748,1
72,IRGC 6046,Stress,65.0,366.0,10.50,47.00,0.144831,0.028707,0.121884,0.030218,7.0,0.015707,0.015005,2
74,IRGC 6046,Stress,57.0,366.0,10.00,41.00,0.077193,0.017589,0.165118,0.037987,6.0,0.012598,0.012411,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,IRGC 117317,Stress,3.0,15.0,3.00,9.00,0.059592,0.017057,0.107238,0.020991,9.0,NaN,NaN,175
418,IRGC 117317,Stress,2.0,5.0,6.00,9.50,0.061251,0.018915,0.102589,0.035972,9.0,NaN,NaN,175
277,IRGC 117318,Stress,97.0,797.0,8.75,35.50,0.044656,0.006838,0.101834,0.032802,4.0,0.020976,0.020541,176
276,IRGC 117318,Stress,99.0,555.0,7.50,38.00,0.071662,0.011396,0.206812,0.037471,6.0,0.017265,0.017192,176
275,IRGC 117318,Stress,104.0,540.0,6.50,37.00,0.078452,0.005481,0.137073,0.032808,8.0,0.017865,0.017614,176

In [171]:
d8['Seed volume'] = d8['Width_WO_husk'] * d8['Length_WO_husk'] * d8['Height_WO_husk']
d8['Seed density'] = d8['Seed Weight'] / d8['Seed volume']

In [203]:
(d8.groupby('accession_name').mean().var() / d8.var()).to_clipboard()

In [204]:
(d10.groupby('accession_name').mean().var() / d10.var()).to_clipboard()

In [175]:
b1 = pd.read_clipboard()

In [178]:
b2 = pd.read_clipboard(sep =',')

In [182]:
b3 = pd.read_clipboard(sep = ',')

In [195]:
b4 = pd.merge(b2, b3, left_on ='accession_name', right_on = 'IRGC code', how = 'left')

In [196]:
b4.iloc[162,1] = 'IRIS_313-8244'

In [197]:
b4.columns = ['IRGC code', 'accession_name', 'c']

In [198]:
b4 = b4.iloc[:, :2]

In [202]:
pd.merge(b4,b1,how = 'left').to_clipboard()

In [25]:
t1 = pd.read_excel('../Figures and tables/S8 Table Marker associations within gene regions.xlsx').sort_values(['Chromosome','Position'])

In [26]:
t2 = pd.read_excel('../Figures and tables/S9 Table Validation for marker associations within gene regions.xlsx').sort_values(['Chromosome','Position'])

In [30]:
t1 = t1.iloc[:,3:].sort_values(['Chromosome','Position']).reset_index(drop = True)
t2 = t2.iloc[:,3:].sort_values(['Chromosome','Position']).reset_index(drop = True)

In [34]:
sum((t1 != t2).values)

array([115,   2, 159, 162, 115,  72,  92, 381, 379, 331, 331, 301, 302,
       248, 207, 114,  75, 378, 378, 198, 293])