### `Checking accuracy of Beagle imputaion for unphased genotypes`

In [1]:
import numpy as np
import pandas as pd
import io, random

In [2]:
#beagle input file
df2 = pd.read_csv('WF1BIn.vcf', dtype = str, sep = '\t')

In [5]:
#file with all low quality reads pruned out
df = pd.read_csv('Data/WF5.vcf', sep = '\t', dtype = str)

In [8]:
#total missing values per genotype
print(sum((df2 == './.').values)[9:])

[      0       0       0       0       0       0       0       0       0
 2874472 3857649 2799325 4726281 3301749 3537549 4037033 3930992 3218906
 3972924 2837431 2254358 3449495 2436403 4063303 2803807 4082018 2708513
 3546140 3406629 3220540 3118111 2238743 2810325 2803438 3004386 3126578
 2635546 3106786 3273131 3270863 3330878 2329633 2871395 3030735 3177805
 2759374 2628167 2919120 2919718 3172697 2321844 2424726 2743555 2430074
 2162675 2298171 2631293 2499634 2419930 2271308 2629937 3120544 3189847
 2147030 2806534 2328451 3468155 1831740 3012437 2548067 2502852 2856732
 4039558 2353706 2238359 3356101 3441624 3728029 3672632 3563156 4035371
 3409015 3653875 2771728 2424731 2739207 3374964 3247855 3251015 3176276
 3425975 3523917 3053148 3245887 2752068 2271806 3389008 2911998 2769384
 2948151 2701989 2564260 2718250 2771075 3275112 2583308 2437813 2861584
 2871626 2306240 2641850 3120324 2769401 2695188 3305684 2873969 2929568
 2529207 2956630 3262099 2955463 3312002 2515151 2447338 3445855 2792330
 2822012 2811440 1965597 2355258 2818926 2882930 2703329 1897276 2568264
 3131660 3476780 3705133 2806933 2667359 2645681 2929479 2920489 3422039
 2419495 3151218 2186758 2774975 2941621 2733699 3214749 3307260 3193326
 3188131 3651614 2331813 2341646 2942609 3031785 3016534 1859405 2329518
 2871770 4204920 3058398 2238510 2480761 2363452 2871139 3355283 2326753
 2844300 3163909 3178143 3075164 2782557 2746160 3007224 2555779 2967863
 2777039 2784665 2980957 2321093 3057217]

In [9]:
#total missing values across 176 genotypes
print(sum(sum((df2 == './.').values)))

515810139

In [10]:
#mean missing values per genotype
print(np.mean(sum((df2 == './.').values)[9:]))

2930739.4261363638

In [11]:
#standard deviation of missing values per genotype
print(np.std(sum((df2 == './.').values)[9:]))

492558.1607233916

In [12]:
#total number of markers
print(df2.shape)

(15241544, 185)

In [13]:
#number of high-quality markers
print(df.shape)

(1846835, 185)

In [15]:
#mean number of values to remove from high-quality markers
(2930739.4261363638 / 15241544 ) * 1846835

355120.98695962504

In [16]:
#standard deviation of number of values to remove from high-quality markers
(492558.1607233916 / 15241544 ) * 1846835

59683.82538931652

In [24]:
#random number of values to remove per genotype
N = np.random.normal(355120, 59683, 176).astype(int)

In [27]:
N

array([296069, 409581, 282002, 411685, 368703, 388273, 333928, 300186,
       300500, 294331, 349339, 226057, 355426, 231293, 228217, 264248,
       380727, 419913, 281164, 464457, 411533, 359043, 442613, 364218,
       403368, 312722, 465576, 354282, 293560, 261720, 311655, 288554,
       222935, 406910, 344652, 368854, 488672, 395219, 450101, 371776,
       424370, 357627, 352196, 375322, 274208, 210674, 294040, 404608,
       162581, 306280, 381572, 473054, 368065, 337088, 395120, 322983,
       417392, 370206, 368457, 397815, 410769, 321900, 329495, 371617,
       351502, 413438, 330410, 354216, 388019, 372834, 262623, 374372,
       417991, 374482, 437222, 343002, 398370, 359276, 323942, 301679,
       250591, 445105, 323776, 288710, 231968, 366685, 376805, 349361,
       351563, 265854, 337252, 462942, 375476, 356112, 421106, 323331,
       329535, 342214, 320204, 313897, 356871, 356416, 372938, 417526,
       355141, 371279, 307119, 391982, 360885, 374552, 364367, 354136,
       377008, 320579, 299392, 331571, 333159, 374878, 447423, 329503,
       280958, 378490, 345061, 378329, 388632, 293817, 348848, 400258,
       344930, 410087, 281245, 217272, 279679, 303475, 344771, 292074,
       350249, 332665, 382177, 267785, 303767, 379526, 367718, 247800,
       350328, 335992, 322231, 411768, 339607, 315874, 371602, 306090,
       295450, 417238, 425415, 373752, 323476, 403167, 416654, 337328,
       392043, 374840, 370364, 221639, 407881, 328277, 273293, 400048,
       412356, 320376, 358699, 311816, 250512, 339219, 407889, 283592])

In [23]:
#load two copies of hq markers
df = pd.read_csv('Data/WF5.vcf', sep = '\t', dtype = str)
df3 = pd.read_csv('Data/WF5.vcf', sep = '\t', dtype = str)

In [31]:
#remove values according to N
for i in range(176):
    p = random.sample(range(1846835), N[i])
    df3.iloc[p, 9+i] = './.'

In [34]:
#make sure correct number of values are gone
(sum((df3 == './.').values)[9:]) == N

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [35]:
#save as vcf and send to beagle
df3.to_csv('AcTestIn.vcf', index = False, sep = '\t')

In [36]:
#take beagle out and convert to comparable tabular format
with open('Beagle Cave/AcTestOut.vcf', 'r') as f:
    lines = []
    for line in f:
        if line[:2] != '##':
            lines.append(line.replace('|', '/'))


lines = ''.join(lines)
df3 = pd.read_csv(io.StringIO(lines), sep='\t')

In [46]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,IRIS_313-10340,...,IRIS_313-9397,IRIS_313-9422,IRIS_313-9445,IRIS_313-9594,IRIS_313-9606,IRIS_313-9617,IRIS_313-9626,IRIS_313-9661,IRIS_313-9682,IRIS_313-9696
0,chr01,1445,34,T,A,.,PASS,.,GT,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
1,chr01,1452,35,A,G,.,PASS,.,GT,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
2,chr01,1527,38,T,TA,.,PASS,.,GT,0/0,...,0/0,0/1,0/0,0/0,0/0,0/0,1/1,1/1,0/0,0/0
3,chr01,1561,41,CAT,C,.,PASS,.,GT,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
4,chr01,1579,43,G,A,.,PASS,.,GT,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1846830,chr12,27529373,15241451,G,A,.,PASS,.,GT,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
1846831,chr12,27529385,15241452,G,C,.,PASS,.,GT,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
1846832,chr12,27529391,15241453,T,G,.,PASS,.,GT,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
1846833,chr12,27529460,15241454,A,G,.,PASS,.,GT,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0,0/0
1846834,chr12,27529469,15241455,G,A,.,PASS,.,GT,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,0/0,0/0

In [47]:
#convert to unphased alleles
#print number of mismatches per genotype
print(sum(df.apply(lambda x: x.replace('1/0', '0/1')).iloc[:, 9:].values != df3.apply(lambda x: x.replace('1/0', '0/1')).iloc[:, 9:].values))

[ 6610 16108 15343 14584  8500  9094  9688  7974  7211  8195  6645  3477
  8487  2827  6483  5058 17566  6351 11122 24506 12371  8598  5887  6272
  9176  8407 12766 10410  8045  6838  8311  7794  3302  9179  7539  9456
  8395  5874  8445  7096 10763  9137  4553  5935  4048  3790  3769  4294
  2497  3358  4729  8439  8193  8826  6369  5990  6087 12396  5850  8048
  7696  6422  8101 13452  7109  6386  7961 16892 13296 13909 22132 14088
 11067 11140 10899  5034  8298 10623  8236  9500  6511 13567 10299  7971
  7659 14837  8650 11272  6516  4516  7735 32531  5334  6734  6826  8470
  7786  4367  5843  6155  8718  6185  9473 11280  5263 10117  7182  9157
 10528  8286 10461  8996 12928  4952  6911 24721  7049  8885  7712  5030
  4629  7763  8046  8887  8996  5247  9470 12410 14037  9302  4995  4438
  5805 17964 10253  4992  8152  4975  8161  5216  6298  9953 10412  8254
 10135 10643  4688  7230  9253  8172  9812  6682  4995  8428 34057  9185
  5529  6142 11500  6445 10604  4831  6587  5626 10084  7416  5450 10812
 23300  4919  7862  6737  5316  8298 10904  6508]

In [48]:
#total number of mismatches
print(sum(sum(df.apply(lambda x: x.replace('1/0', '0/1')).iloc[:, 9:].values != df3.apply(lambda x: x.replace('1/0', '0/1')).iloc[:, 9:].values)))

1553520

In [49]:
#mean number of mismatches per genotype
print(np.mean(sum(df.apply(lambda x: x.replace('1/0', '0/1')).iloc[:, 9:].values != df3.apply(lambda x: x.replace('1/0', '0/1')).iloc[:, 9:].values)))

8826.818181818182

In [50]:
#standard deviation of number of mismatches per genotype
print(np.std(sum(df.apply(lambda x: x.replace('1/0', '0/1')).iloc[:, 9:].values != df3.apply(lambda x: x.replace('1/0', '0/1')).iloc[:, 9:].values)))

4546.471975222942

In [52]:
#total number of high-quality markers
1846835 * 176

325042960

In [51]:
#proportion of incorrect imputations
1553520 / (1846835 * 176)

0.004779429771375451

In [3]:
1 - 0.004779429771375451

0.9952205702286245

## Accuracy is >99.5%